.vscode/**
.vscode-test/**
out/**
node_modules/**
relay/**
src/**
.gitignore
.yarnrc
esbuild.js
logo.png
index.html
*.vsix
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
