PORT=3001
ALLOWED_ORIGINS=example.com,localhost:3000
SESSION_SECRET=CHANGE_ME_TO_A_RANDOM_STRING
TWO_FACTOR_ISSUER=Hunterstar Admin
PRIVATE_TWO_FACTOR_ISSUER=Hunterstar Private
FIREBASE_SERVICE_ACCOUNT=example-firebase-service-account
FIREBASE_API_KEY=example-firebase-api-key
YOUTUBE_API_KEY=CHANGE_ME_YOUR_YOUTUBE_API_KEY

YOUTUBE_PLAYLIST_ID=change_me_your_youtube_playlist_id

OPEN_ROUTER_API_KEY1=CHANGE_ME_YOUR_OPEN_ROUTER_API_KEY1
OPEN_ROUTER_API_KEY2=CHANGE_ME_YOUR_OPEN_ROUTER_API_KEY2
OPEN_ROUTER_API_KEY3=CHANGE_ME_YOUR_OPEN_ROUTER_API_KEY3
OPEN_ROUTER_API_KEY4=CHANGE_ME_YOUR_OPEN_ROUTER_API_KEY4
OPEN_ROUTER_API_KEY5=CHANGE_ME_YOUR_OPEN_ROUTER_API_KEY5

AI_STUDIO_API_KEY1=CHANGE_ME_YOUR_AI_STUDIO_API_KEY1
AI_STUDIO_API_KEY2=CHANGE_ME_YOUR_AI_STUDIO_API_KEY2
AI_STUDIO_API_KEY3=CHANGE_ME_YOUR_AI_STUDIO_API_KEY3
AI_STUDIO_API_KEY4=CHANGE_ME_YOUR_AI_STUDIO_API_KEY4
AI_STUDIO_API_KEY5=CHANGE_ME_YOUR_AI_STUDIO_API_KEY5
AI_STUDIO_API_KEY6=CHANGE_ME_YOUR_AI_STUDIO_API_KEY6
AI_STUDIO_API_KEY7=CHANGE_ME_YOUR_AI_STUDIO_API_KEY7
AI_STUDIO_API_KEY8=CHANGE_ME_YOUR_AI_STUDIO_API_KEY8
AI_STUDIO_API_KEY9=CHANGE_ME_YOUR_AI_STUDIO_API_KEY9

CLOUD_FUNCTION_UPLOAD_URL=https://CHANGE_ME_YOUR_CLOUD_FUNCTION_UPLOAD_URL
CLOUD_FUNCTION_UPLOAD_SECRET=CHANGE_ME_YOUR_CLOUD_FUNCTION_UPLOAD_SECRET